page-home {

   
    .bg{

        background:#e9ebee;
    }
    
    
    ion-header,ion-card-header,ion-navbar{

        text-align: center;
        
       
       
        
        
}

ion-card-content{
    background-color:#f6f6f6;
    color: black;
}




}