page-detail {

    
    .bg{

        background:#e9ebee;
    }
    
    
    ion-header,ion-card-header{

        text-align: center;
        background-color:#ffffff;
       
        font-size: 40px;

    
}

ion-title {

    padding-left: 1.52cm;
    text-align: left;
  }

ion-card-content{

    background-color:#f6f6f6;
    font-size: 30px;

}
}
